<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/styles.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" id="qvantel">Qvantel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" id="AllContinents">AllContinents</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="addContinent">AddContinent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="continentOfACountry">ContinentOfACountry</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="citiesOfAContinent">CitiesOfAContinent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="countriesInContinent">countriesInContinent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="addCitiesToCountry">AddCitiesToCountry</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" id="groupCities">GroupCities</a>
        </li>


      </ul>
    </div>
  </nav>
  <div  id="maincont">
    <img style="width: 100%" src="https://scontent.fbpm1-1.fna.fbcdn.net/v/t31.0-8/18738883_1562172037150296_1224271630239865732_o.jpg?_nc_cat=110&_nc_oc=AQnhHYQVNBCq02ywwsXDZ-NS0FY8DEseTs4GcxPaxWT6U2Qbwuk05F10SzylTPPkxTY&_nc_ht=scontent.fbpm1-1.fna&oh=91c5e355ac606027c759f96dd4683f92&oe=5DFF494A">
  </div>
</div>
<script src="@routes.Assets.versioned("js/jquery-3.4.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("js/continent.js")" type="text/javascript"></script>
</body>
</html>